{% include "./header.html" %}



<section class="text-gray-600 body-font overflow-hidden">
    <div class="container mx-auto px-5 py-24">
        <h1 class="text-3xl font-medium text-gray-200 title-font mb-2">Professional Experience</h1>
        <br> <br>
        <div class="flex flex-wrap -m-12">


          <div class="p-12 md:w-1/2 flex flex-col items-start">
      
            <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">Shoziki</span>
            <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">SDE Intern</h2>
            <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4"> December 2023 - Current  | Remote | Delhi </h2>
  
            <p class="leading-relaxed mb-8 text-gray-400">                       
              Worked on diverse Client Projects, using backend & Frontend technologies like Flask, PHP, SQL & Javascript, tailwind 
              & HTML & Right now Working on Backend Development of Travelling Website using Django <br>
                 </p>        
              <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full"> 
              <a href="www.shoziki.com" target="_blank"  class="text-indigo-500 inline-flex items-center"> Link 
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M1 12h14"></path>
                  <path d="M1 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
       
          </div>


        <div class="p-12 md:w-1/2 flex flex-col items-start">
      
          <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">TCET Opensource</span>
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">L4 - ML Engineer</h2>
          <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4"> July 2023 - Current  | Hybrid | Mumbai </h2>

          <p class="leading-relaxed mb-8 text-gray-400">                       
            Worked with Huggingface pretrained models for review & comment sentiments. <br>
Contributed & Solved the functionality issue of Resume Screener Web Application by creating a LinkedIn Profile Scrapper & Analyzer Function.  </p>        
            <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full"> 
            <a href="https://github.com/tcet-opensource" target="_blank"  class="text-indigo-500 inline-flex items-center"> Link 
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M1 12h14"></path>
                <path d="M1 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
     
        </div>


        <div class="p-12 md:w-1/2 flex flex-col items-start">
            <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">Verbient Technologies Private Ltd.</span>
            <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">Full Stack Web Developer Intern</h2>
            <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4"> Dec 2022 - Apr 2023 |  Remote | Jaipur </h2>

            <p class="leading-relaxed mb-8 text-gray-400">                       
                Worked on PHP & MySQL for building robust backend systems. <br>
                Developed interactive user interfaces using JavaScript, HTML, CSS & Bootstrap. <br>
                Enhanced user interactions and implemented business logic. <br>
                Implemented client-side validation and data manipulation.      <br>    </p>    
              <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
              <a href="https://www.linkedin.com/company/verbient/" target="_blank"  class="text-indigo-500 inline-flex items-center">Link
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M1 12h14"></path>
                  <path d="M1 5l7 7-7 7"></path>
                </svg>
              </a>                     
            </div>

          </div>

    

          <div class="p-12 md:w-1/2 flex flex-col items-start">
            <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">Universe Simplified</span>.</span>
            <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">Programming Instructor</h2>
            <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4">  Nov 2022 - Mar 2023 |  Remote | Mumbai</h2>
            <p class="leading-relaxed mb-8 text-gray-400">                       
                I had the privilege of teaching Python programming in the USF STEM Fellowship program. <br>
          It was a gratifying experience to provide all these enthusiastic learners with the knowledge and skills
          necessary to excel in the field of programming.   </p>    
              <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
              <a href="https://universesimplified.org/" target="_blank" class="text-indigo-500 inline-flex items-center">Link
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>                     
            </div>
     
          </div>
 

          <div class="p-12 md:w-1/2 flex flex-col items-start">
            <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest"> Ignitech</span>.</span>
            <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">Machine Learning Summer Internship & Trainee</h2>
            <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4">  Aug 2021 - Sep 2021 | Remote | Mumbai  </h2>
            <p class="leading-relaxed mb-8 text-gray-400">                       
                Developed a Gender classifier ML Model, utilizing a dataset of over 1 lakh rows, and implemented the Naive Bayes algorithm for accurate predictions.
                Integrated the Gender classifier ML Model into a web application, leveraging HTML, Bootstrap, and Flask for the frontend and backend development. </p>    
              <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
              <a href="https://ignitech.in/"  target="_blank" class="text-indigo-500 inline-flex items-center">Link
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>          

    </div></div>      






            </div>
        
          </div>


  </section>

{% include "./footer.html" %}
