{% include "./header.html" %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container mx-auto px-5 py-24">
        <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-2xl font-extrabold text-gray-200 text-center md:text-4xl">
                Projects & Research
            </h2>
            <br>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-200">Life's Too Short Not to Laugh at Your Own Errors.</p>
        </div>
        <br>


        <div class="-my-8 divide-y-2 divide-gray-100">


             <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2">Artify </h2>
                    <p class="leading-relaxed text-gray-300">Sept 2023 - under development</p>
                    <p class="leading-relaxed mb-8 text-gray-300">                       
                        under development!! Launching Soon...

                    </p>  
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="/" target="_blank">Link 
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <br>


            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2">EncryptSend </h2>
                    <p class="leading-relaxed text-gray-300">Oct 2023 - Oct 2023</p>
                    <p class="leading-relaxed mb-8 text-gray-300">                       
                        A end to end encrypted File Sharing Web Application build using nodejs, expressjs, & mongodb 

                    </p>  
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="https://github.com/ankitmishralive/EncryptSend" target="_blank">Link 
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <br>


            
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2">LoanWisePro </h2>
                    <p class="leading-relaxed text-gray-300">Aug 2023 - Sept 2023</p>
                    <p class="leading-relaxed mb-8 text-gray-300">                       
                        A Machine Learning Web Application for predicting chances of Loan Approval, project boasts exceptional predictive accuracy, thanks to the Random Forest Classifier. I've fine-tuned its hyperparameters to deliver reliable loan eligibility predictions. 
                        Just fill out the form & Get straight Results of Loan Approval     
                    </p>  
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="https://loanwisepro.theankitmishra.live/" target="_blank">Link 
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <br>





        <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2">SMS Email Spam Detector </h2>
                    <p class="leading-relaxed text-gray-300">Jul 2023 - Aug 2023</p>
                    <p class="leading-relaxed mb-8 text-gray-300">                       
                        Our web application is designed to help you identify and filter out spam sms,messages,emails from your inbox.
                    The Model has Precision Rate of 100% & Accuracy Score of 97%, The Algo i have used is Multinomial Naive Bayes 
                    Build & Deployed model on flask & also Sharing its public API, if anyone is interested in trying out & using the Model they can just hit the API.
                    
                    </p>  
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="https://sms-spamdetector.theankitmishra.live/" target="_blank">Link 
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <br>

            <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:flex-grow">
                        <h2 class="text-xl font-medium text-gray-300 title-font mb-2">Prepost</h2>
                        <p class="leading-relaxed text-gray-200">Jun 2023 - Jul 2023</p>
                        <p class="leading-relaxed mb-8 text-gray-300">                       
                            Prepost will keep you updated with the latest updates of the Globe. It provides real-time updates, news of 30 different categories. 
                            Our app provides a seamless experience for accessing and downloading the most recent content from reliable sources. Whether you're interested in world news, technology updates, business insights, or entertainment news, we've got you covered. 
                            One of the key features of Prepost is the ability for users to download updates in post form or simply copy the text & its Public API's. Check it out right now.
                        
                        </p>  
                        <a class="text-indigo-500 inline-flex items-center mt-4" href="https://www.prepost.neuralberg.com" target="_blank">Link 
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                
        <br>

        </div>
    



        <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2">Demographix: India's Insights Hub</h2>
                    <p class="leading-relaxed text-gray-300">Jun 2023 - Jun 2023</p>
                    <p class="leading-relaxed mb-8 text-gray-300">                       
                        The web app offers a comprehensive collection of data insights through captivating visualization graphs. it provides an array of features, allowing users to explore various aspects of India's demographic landscape. Dive into statistics such as literacy rates, population distribution across different religions,
                         access to the internet and electricity at the district and state levels, demographic data, age group population analysis, and sex ratio trends.
                    </p>  
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="https://demographix.theankitmishra.live/" target="_blank">Link 
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>

            
<br>


            <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2">theankitmishra.live</h2>
                    <p class="leading-relaxed text-gray-300">Jan 2023 - Jan 2023</p>
                    <p class="leading-relaxed mb-8 text-gray-300">                       
                        A Personal Blogging Application where i will be covering all my knowledge Created by using Django, Tailwind CSS.    </p>  
                    <a class="text-indigo-500 inline-flex items-center mt-4" href="/" target="_blank">Link 
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>

            

            </div>

            <br>


            <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:flex-grow">
                        <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> JSON Formatter </h2>
                        <p class="leading-relaxed text-gray-300">Jul 2022 - Jul 2022</p>
                        <p class="leading-relaxed mb-8 text-gray-300">                       
                            JSON formatter is a free online tool designed to assist users in formatting and beautifying their JSON codes. You can restructure your JSON with this online JSON formatter. 
                            A few clicks on your device will be enough to format your JSON code with this online tool. It is developed using React & Chakra UI technology.
                  </p>  
                        <a class="text-indigo-500 inline-flex items-center mt-4" href="https://json-formatter.surge.sh" target="_blank">Link 
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>

           

                </div>

                <br>

                <div class="-my-8 divide-y-2 divide-gray-100">
                    <div class="py-8 flex flex-wrap md:flex-nowrap">
                        <div class="md:flex-grow">
                            <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> TXT Formatter </h2>
                            <p class="leading-relaxed text-gray-300">Aug 2022 - Aug 2022</p>
                            <p class="leading-relaxed mb-8 text-gray-300">                       
                                This tool aims to help you with tasks where text formatting is needed. It's not intended to replace a word processor, but the formatting tools available here can help speed up some jobs which might otherwise be long and repetitive. TXT-formatter can also quickly tell 
                                you how many words and characters are in your text & it will also tell you the average reading time anyone will take for reading your text. This tool is built using HTML, CSS, Bootstrap & ReactJs.
                      </p>  
                            <a class="text-indigo-500 inline-flex items-center mt-4" href="https://txt-formatter.surge.sh" target="_blank">Link 
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>


                    </div>

                    
                    <br>


                    <div class="-my-8 divide-y-2 divide-gray-100">
                        <div class="py-8 flex flex-wrap md:flex-nowrap">
                            <div class="md:flex-grow">
                                <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> Chat Visualizer  </h2>
                                <p class="leading-relaxed text-gray-300">Dec 2021 - May 2022</p>
                                <p class="leading-relaxed mb-8  text-gray-300">                       
                                    The ChatVisualizer is a statistical analysis tool for working on the chat files that can be exported. This tool is based on data analysis and processing.
                                    Users can use this tool for analyzing their chats. It is developed using Python technology like Pandas, Numpy, Matplotlib, Flask, Streamlit & as usual front-end technologies HTML, CSS, Bootstrap.
                                </p>  
                                <a class="text-indigo-500 inline-flex items-center mt-4" href="/" target="_blank">Link 
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
    
                         
    
                        </div>


                        <br>
                        <div class="-my-8 divide-y-2 divide-gray-100">
                            <div class="py-8 flex flex-wrap md:flex-nowrap">
                                <div class="md:flex-grow">
                                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> Stranger ChatRoom </h2>
                                    <p class="leading-relaxed text-gray-300">Apr 2022 - Apr 2022</p>
                                    <p class="leading-relaxed mb-8 text-gray-300">     

                                        Stranger Chatroom is an example of a chat server. This project is a little bit different because in this project there is no login, no sign up. 
                                        The user just has to enter the legal room name, once the user entered & claimed the room name, then it will redirect the user to the chatroom. Where the user can chat & user will require only one thing to do next is the user has to share the URL link with the person they want to have a chat. Stranger Chatroom is developed using HTML, CSS, Bootstrap, JavaScript at the frontend & PHP & MySQL technology at the backend.
                                  
                                    </p>  
                                    <a class="text-indigo-500 inline-flex items-center mt-4" href="https://github.com/Ankkkyyyy/STChatRoom" target="_blank">Link 
                                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M5 12h14"></path>
                                            <path d="M12 5l7 7-7 7"></path>
                                        </svg>
                                    </a>
                                </div>
        
                         
        
                            </div>

                            <br>

                            <div class="-my-8 divide-y-2 divide-gray-100">
                                <div class="py-8 flex flex-wrap md:flex-nowrap">
                                    <div class="md:flex-grow">
                                        <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> Word Warriors </h2>
                                        <p class="leading-relaxed text-gray-300">Oct 2021 - Oct 2021</p>
                                        <p class="leading-relaxed mb-8 text-gray-300">     

                                            The Word Warriors is a typing thrill gaming application made by me. It helped me cover all the general applied JavaScript fundamentals
                                        </p>  
                                        <a class="text-indigo-500 inline-flex items-center mt-4" href="https://word-warriors.surge.sh" target="_blank">Link 
                                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M5 12h14"></path>
                                                <path d="M12 5l7 7-7 7"></path>
                                            </svg>
                                        </a>
                                    </div>
            
                                    <br>
            
                                </div>





        </div>

    </div>
</section>
{% include "./footer.html" %}
