{% include "./header.html" %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container mx-auto px-5 py-24">
        <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-2xl font-extrabold text-gray-200 text-center md:text-4xl">
                Projects & Research
            </h2>
            <br>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-200">"Concepts hold meaning when woven into application"</p>
        </div>
        <br>
   

        <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-2 mx-auto">
        
                <div class="flex flex-wrap -m-4">

                 <div class="p-4 md:w-1/3 mb-8">
                            <div class="border-4 border-black rounded-lg p-4">
                                <div class="rounded-lg h-64 overflow-hidden mb-4">
                                    <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/prepost.jpeg">
                                </div>
                                <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">Prepost</h2>
                                <p class="text-base leading-relaxed mt-2 mb-4">
                                    Prepost is an all-in-one app offering real-time updates across 30 categories, 
                                    including world news, tech, business, and entertainment. 
                                    With a seamless interface, users can access, download, and share content via post or Public API's. Explore now! 
                                </p>
                                <a class="text-indigo-400 inline-flex items-center">Learn More
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/loanWisePro.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">LoanWisePro</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                Discover a powerful Machine Learning Web App for precise loan approval predictions. 
                                Utilizing the Random Forest Classifier with fine-tuned hyperparameters, it ensures exceptional accuracy. 
                                Simply complete the form for instant and reliable results.
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/encryptSend.jpg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">EncryptSend</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                This secure file-sharing web app, built on Node Express and MongoDB,
                                 allows users to share files via password-protected links. 
                                 Recipients must enter the password to download the shared file.
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/smsSpamdetector.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">SMS/Email Spam Classifier Model</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                Our web app, powered by a Multinomial Naive Bayes model with a 100% precision rate and 97% accuracy, 
                                filters spam from your inbox. Deployed on Flask, it offers a public API for easy access.
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/demographix.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">Demographix: India's Insights Hub</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                Explore India's demographic landscape with our web app, offering captivating visualization graphs and comprehensive insights.
                                 Discover data on literacy rates, population distribution, internet and electricity access, 
                                 age groups,sex ratio trends at district and state levels.
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/jsonFormatter.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">JSON Formatter</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                JSON formatter is a free online tool designed to assist users in formatting and beautifying their JSON codes. 
                                You can restructure your JSON with this online JSON formatter.
                                 A few clicks on your device will be enough to format your JSON code with this online tool. It is developed using React & Chakra UI technology.
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/txtFormatter.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">TXT Formatter</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                Enhance text formatting tasks effortlessly with TXT-formatter. 
                                While not a word processor replacement, its tools expedite repetitive jobs.
                                 The web tool also provides word count, character count, and average reading time features.
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>



                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/chatVisualizer.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">Chat Visualizer</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                The ChatVisualizer is a statistical analysis tool for working on the chat files that can be exported.
                                 This tool is based on data analysis and processing. Users can use this tool for analyzing their chats.
                                
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/STChatRoom.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">Stranger ChatRoom</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                Stranger Chatroom, a login-free chat server, lets users claim a room name, redirecting them to a chatroom. 
                                Developed with HTML, CSS, Bootstrap, JavaScript (frontend), and PHP, MySQL (backend).
                                
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>


                    <div class="p-4 md:w-1/3 mb-8">
                        <div class="border-4 border-black rounded-lg p-4">
                            <div class="rounded-lg h-64 overflow-hidden mb-4">
                                <img alt="content" class="object-cover object-center h-full w-full" src="/static/media/projectMedia/wordWarriors.jpeg">
                            </div>
                            <h2 class="text-xl font-medium title-font text-white mt-2 mb-4">Word Warriors</h2>
                            <p class="text-base leading-relaxed mt-2 mb-4">
                                Stranger Chatroom, a login-free chat server, lets users claim a room name, redirecting them to a chatroom. 
                                Developed with HTML, CSS, Bootstrap, JavaScript (frontend), and PHP, MySQL (backend).
                                
                            </p>
                            <a class="text-indigo-400 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>



















                </div>
            </div>
        </section>
        
        
        
        

      







    </div>
</section>
{% include "./footer.html" %}
