<footer class="text-gray-600 bg-black body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap md:text-left  order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id='getintouch'>
                <h2 class="title-font font-xl text-white tracking-widest text-sm mb-3">GET IN TOUCH</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-grey-400 " href="https://github.com/ankitmishralive" target="_blank">Github</a> <a href="https://github.com/ankitmishralive" class="text-white hover:text-pink-600" target="_blank">@ankitmishralive</a>
                    </li>
                    <li>
                        <a class="text-grey-400 " href="https://www.linkedin.com/in/ankitmishralive" target="_blank">Linkedin</a> <a href="https://www.linkedin.com/in/ankitmishralive" class="text-white hover:text-pink-600" target="_blank">@ankitmishralive</a>
                    </li>
                    <li>
                        <a class="text-grey-400 " href="https://twitter.com/ankitmishralive" target="_blank">Twitter</a> <a href="https://twitter.com/ankitmishralive" class="text-white hover:text-pink-600" target="_blank">@ankitmishralive</a>
                    </li>
                    <li>
                        <a class="text-grey-400">Electronic Mail</a> <a href="mailto:ankitmishra.letter@gmail.com" class="text-white hover:text-pink-600">ankitmishra.letter@gmail.com</a>
                    </li>
                </nav>
            </div>

            <div class="lg:w-3/4 md:w-1/2 w-full px-4 md:pl-6">
                <p class="text-grey-400">
                    Ready to work together on a freelance project or want to discuss opportunities? Don't hesitate to drop me a line at <a href="mailto:ankitmishra.letter@gmail.com" class="text-white hover:text-pink-600">ankitmishra.letter@gmail.com</a>. Let's create something awesome together!
                </p>
            </div>
        </div>
    </div>

    <div class="bg-black text-white">
        <div class="container px-5 py-6 mx-auto flex sm:flex-row flex-col">
            <a class="flex title-font font-medium  md:justify-start text-white">
                <span class="ml-3 text-xl hover:text-pink-600">ankitMishra.live</span>
            </a>

            <p class="text-sm text-gray-100 sm:ml-6 sm:mt-0 mt-4">Design & Developed By 
                <a href="https://twitter.com/ankitmishralive" rel="noopener noreferrer" class="text-white ml-1 hover:text-pink-600" target="_blank">Ankit Mishra</a>
            </p>
           
           
        </div>
    </div>

  
</footer>





</body>
</html>