<footer class="text-gray-600 bg-black body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap md:text-left  order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4" id='getintouch'>
                <h2 class="title-font font-xl text-white tracking-widest text-sm mb-3">GET IN TOUCH</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-grey-400" href="https://github.com/ankitmishralive" target="_blank">Github</a> <a href="https://github.com/ankitmishralive" class="text-white" target="_blank">@ankitmishralive</a>
                    </li>
                    <li>
                        <a class="text-grey-400" href="https://www.linkedin.com/in/ankitmishralive" target="_blank">Linkedin</a> <a href="https://www.linkedin.com/in/ankitmishralive" class="text-white" target="_blank">@ankitmishralive</a>
                    </li>
                    <li>
                        <a class="text-grey-400" href="https://twitter.com/ankitmishralive" target="_blank">Twitter</a> <a href="https://twitter.com/ankitmishralive" class="text-white" target="_blank">@ankitmishralive</a>
                    </li>
                    <li>
                        <a class="text-grey-400">Electronic Mail</a> <a href="mailto:ankitmishra.letter@gmail.com" class="text-white">ankitmishra.letter@gmail.com</a>
                    </li>
                </nav>
            </div>

            <div class="lg:w-3/4 md:w-1/2 w-full px-4 md:pl-6">
                <p class="text-grey-400">
                    Ready to work together on a freelance project or want to discuss opportunities? Don't hesitate to drop me a line at <a href="mailto:ankitmishra.letter@gmail.com" class="text-white">ankitmishra.letter@gmail.com</a>. Let's create something awesome together!
                </p>
            </div>
        </div>
    </div>

    <div class="bg-black text-white">
        <div class="container px-5 py-6 mx-auto flex sm:flex-row flex-col">
            <a class="flex title-font font-medium  md:justify-start text-white">
                <span class="ml-3 text-xl">ankitMishra.live</span>
            </a>
            <p class="text-sm text-gray-100 sm:ml-6 sm:mt-0 mt-4">Design & Developed By 
                <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-white ml-1" target="_blank">Ankit Mishra</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4  sm:justify-start">
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>





</body>
</html>