<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankit Showcase</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="static/js/script.js"></script>
  
</head>
<body class="bg-gray-900">



    <header class=" bg-transparent text-gray-400 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a href="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
          
            <span class="ml-3 text-3xl bold text-white">Ankit Mishra</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center leading-relaxed">
            <a href="/showcase" class="mr-5 ">About</a>
            <a href="/showcase/experience" class="mr-5 ">Experience</a>
            <a href="/showcase/projects-research" class="mr-5 ">Projects</a>
            <a href="/showcase/netcast" class="mr-5 ">Blogs</a>
          </nav>
          <button class="inline-flex items-center text-white bg-blue-600 border-0 py-1 px-3 focus:outline-none hover:bg-blue-400 py-2 px-2 rounded-full text-base mt-4 md:mt-0">Resume
            
          </button>
        </div>
      </header>
